@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Light.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
.sidebar{
    position: fixed;
    padding: 1rem 0.7rem;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    border-right: 1px solid rgb(87, 87, 87);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sidebar img{
    height: 40px;
}
.sidebar nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    width: 100%;
}
.sidebar nav #add{
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}
.sidebar nav a{
    text-decoration: none;
    padding: 0.6rem;
    font-size: 1.7rem;
    color: black;
}
.sidebar nav a:hover{
    background-color: rgba(128, 128, 128, 0.075);
    border-radius: 10px;
}

.sidebar>i{
    font-size: 1.7rem;
}
main{
    margin-left: 88px;
}
header{
    padding: 1rem 0rem;
}
#search{
    padding: 1rem;
    width: 90%;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.247);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}