@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Light.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
.sidebar{
    position: fixed;
    padding: 1rem 0.7rem;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    border-right: 1px solid rgb(87, 87, 87);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sidebar img{
    height: 40px;
}
.sidebar nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    width: 100%;
}
.sidebar nav #add{
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}
.sidebar nav a{
    text-decoration: none;
    padding: 0.6rem;
    font-size: 1.7rem;
    color: black;
}
.sidebar nav a:hover{
    background-color: rgba(128, 128, 128, 0.075);
    border-radius: 10px;
}

.sidebar>i{
    font-size: 1.7rem;
}
main{
    margin-left: 88px;
}
header{
    padding: 1rem 0rem;
    position: relative;
}
#search{
    
    padding: 1rem 3rem;
    width: 95%;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.247);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 900;
}
.search-nav{
    position: absolute;
    padding: 0rem 1rem;
    width: 95%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    
}
.search-nav i{
    font-size: 1.5rem;
}
.search-nav>i{
    opacity: 0.5;
}
.search-navright{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top h3{
    cursor: pointer;
    padding: 1rem;
}
.top h3::after{
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background-color: black;
}
.container{
    column-count: 3;
    max-width: 85rem;
}
.card img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}
.suggestion{
    width: 95%;
    border-radius: 10px;
    margin-top: 0.2rem;
    padding: 1rem 3rem;
    color: black;
    background-color: rgba(128, 128, 128, 0.247);
    
}